body {
    background: #f0f0f0;
    font-family: Segoe UI, sans-serif;
    font-size: 9pt;
    justify-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    background: #f0f0f0;
    border: 1px outset #f0f0f0;
    border-top-color: #f8f8f8;
    border-left-color: #f8f8f8;
    width: 250px;
    padding: 20px;
    text-align: center;
}

h1 {
    font-family: Segoe UI, sans-serif;
    font-size: 12pt;
    font-weight: bold;
    text-align: center;
    margin: 0;
}

.buttons {
    background: #f0f0f0;
    border: 1px outset #f0f0f0;
    border-top-color: #f8f8f8;
    border-left-color: #f8f8f8;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-top: 10px;
    padding: 3px;
}

button {
    background: #f0f0f0;
    border: 0px;
    font-family: Segoe UI, sans-serif;
    font-size: 9pt;
    padding: 5px;
    width: 100%;
}

button:active {
    border-style: inset;
    background: #ffff00;
}

.download {
    background: #f0f0f0;
    border: 0px;
    font-family: Segoe UI, sans-serif;
    font-size: 9pt;
    font-weight: bold;
    padding: 5px;
    width: 100%;
}

.download:active {
    border-style: inset;
    background: #0040bf;
    color: #ffffff;
}

.buttons button {
    flex: 1;
}
